html {
    font: Roboto;
    margin: 0;
    color: #f9faf8;
}
body {
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0;
    width: 100%;
    padding-bottom: 50px;
    background-color: #1f2937;
    padding-top: 20px;

}


img {
    color: black;
    border: 2px, black, solid;
    align-self: center;
}

p {
    display: flex;
    align-self: flex-end;
}
.header-1 {
    display: flex;
    justify-content: space-around;


}
.header-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 48px;
    font-weight: 900;

}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    color: black;
    align-items: center;
    padding-bottom: 50px;
  
}

.images {
    display: flex;
    gap: 20px;
}

.section-3 {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    background-color: lightgrey;
    padding: 50px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;

}